// @use "./fonts";
@use "./colors";

html, body { margin: 0; padding: 0; background: var(--background); }

button {
    display: flex;
    border: none;
    background: var(--primary);
    padding: 0rem;
    border-radius: 0.5rem;

    align-items: center;
    justify-content: center;

    &:hover:not(:disabled) {
        cursor: pointer;
        filter: brightness(1.1); 
    }

    &:active:not(:disabled) {
        transform: scale(0.95);
    }

    &:disabled {
        cursor: not-allowed;
        transform: none;
    }

    * {
        -webkit-user-drag: none;
    }
}


